# Virtual environments
venv/
.venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyo

# IDEs
.idea/
.vscode/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Flask
instance/

# Logs
*.log

# Uploaded files
uploads/

# Testing
.pytest_cache/

# Jupyter
.ipynb_checkpoints/